
.container {
    /*display: grid;*/
    /*align-content: flex-start;*/
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: visible;
    display: grid;
    align-content: flex-start;


    gap: 4px;
}

.row {
    border: var(--fabric-border-primary) 1px solid;
    border-radius: 5px;

    background: var(--fabric-background-primary);
    color: var(--fabric-color-primary);

    cursor: pointer;

    transition: 150ms linear;
    user-select: none;
}

.row:hover {
    border-color: var(--fabric-accent-color);
}

.row:active {
    background: var(--fabric-background-secondary);
    border-color: var(--fabric-accent-color);
}

.content {


    overflow-x: hidden;
}

.logo {
    height: 30px;
}

.button {
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button > * {
    font-size: 1.2rem !important;
}


.tab {
    height: 100%;
    display: grid;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.img {
    width: 100px;
}

.section {
    width: 100%;

}

.name {
    font-weight: 550;
    font-size: .75rem;

}

.tabs {
    padding-top: 16px;
    display: flex;
    gap: 8px;
    color: var(--fabric-color-secondary);
    align-items: flex-start;
    overflow: hidden !important;
}

.tab {
    padding: 0 7%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    background: var(--fabric-border-primary);
    border-radius: 0 5px 5px 0 !important;

}

.modal {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: clamp(250px, 20vw, 450px);
    height: 100vh;

    color: var(--fabric-color-secondary);
    padding: 16px;


    background: var(--fabric-background-primary);

    box-shadow: var(--fabric-boxshadow);

    overflow-y: auto;
}

.modalWrapper {
    display: flex;
    justify-content: flex-end;
}

.selectedCard {
    width: 100% !important;
    min-height: 100% !important;
}

.buttonDownload {
    display: flex;
    align-items: center;
    gap: 4px;

}

.qrCode {
    margin-top: 16px;
    display: grid;
    gap: 4px;
    justify-content: center;
    background: var(--fabric-background-tertiary);
    border: var(--fabric-border-primary) 1px solid;
    border-radius: 5px;
    padding: 8px 16px;
    width: 100%;
}

.qrCode > legend {
    font-weight: 550;
    font-size: .9rem;
}

.canvas {
    width: 100%;

}

.modalTab {
    display: grid;
    align-content: flex-start;

    gap: 2px;
    justify-items: center;
    height: 100%;

}

.modalTab > h2 {
    text-align: center;
}

.cardWrapper {
    max-width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.imgData {
    max-width: 100%;
}

@font-face {
    font-family: "viga";
    src: url("../public/viga.ttf");

}

.cardInfo {
    font-family: viga;
    color: #102d69;
    font-weight: 550;
    line-height: 8px;
    font-size: 5px;
    /*background: red;*/
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    text-align: right;
    padding-top: 10%;
    padding-right: 5%;
    height: 100%;
}


.floating {
    position: absolute !important;
    bottom: 0;
    display: grid;
    gap: 2px;
    width: 100%;
}

.report {
    background: var(--fabric-border-primary) !important;
    width: 100%;
    font-weight: 550;
    font-size: .8rem !important;
}

.report:hover {
    box-shadow: rgba(0, 0, 0, .1) 0 0 5px 3px;
}

.report:active {
    box-shadow: var(--fabric-accent-color) 0 0 5px 3px;
}

.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 2px;

    height: 100%;
}

.reportModal {

    padding: 16px;
    width: clamp(350px, 50vw, 650px);
    height: fit-content;
    background: var(--fabric-background-primary);

    border-radius: 5px;

    box-shadow: var(--fabric-boxshadow);
}

.reportWrapperModal {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contentInput {
    display: flex;
    align-items: center;
    gap: 4px;
}

.contentModal {
    padding: 4px 16px;
    min-width: 250px !important;
    width: 250px !important;
    background: var(--fabric-background-primary);
}


.light {
    --fabric-accent-color: #0095ff;
    --fabric-background-primary: white;
    --fabric-background-secondary: #f8f6f6;
    --fabric-background-tertiary: #f6f4f4;
    --fabric-background-quaternary: #E8F0FE;

    --fabric-border-primary: #F1F1F5;
    --fabric-border-secondary: #e0e0e0;

    --fabric-color-primary: #444444;
    --fabric-color-secondary: #454545;
    --fabric-color-tertiary: #555555;
    --fabric-color-quaternary: #999999;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --fabric-boxshadow: rgba(0, 0, 0, .1) 2px 4px 10px 2px;
}

.dark {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --fabric-accent-color: #0095ff;
    --fabric-background-primary: #303030;
    --fabric-background-secondary: #2b2b2b;
    --fabric-background-tertiary: #282828;
    --fabric-background-quaternary: #111111;

    --fabric-border-primary: #3F3F3F;
    --fabric-border-secondary: #707070;

    --fabric-color-primary: #F7F7F7;
    --fabric-color-secondary: #f5f5f5;
    --fabric-color-tertiary: #f3f3f3;
    --fabric-color-quaternary: #999999;


    --fabric-boxshadow: rgba(0, 0, 0, .2) 2px 4px 10px 2px;

}

.fieldSet {
    width: 100%;
    border-radius: 5px;
    border: var(--fabric-border-primary) 1px solid;
    font-family: "Roboto";
}

.fieldSet > legend {
    font-weight: 550;
    font-size: .75rem;
}

.fieldSet > div {
    font-family: "Roboto";
    /*font-weight: 550;*/
    font-size: .95rem;
}

.wrapper{
    overflow: hidden;
}