.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 12px 10%;

}

.headerWrapper {
    color: var(--fabric-color-secondary);
    display: flex;
    justify-content: space-between;

    align-items: center;
    background: var(--fabric-border-primary);
    padding: 8px;

    border-radius: 5px 5px 0 0;
}

.header {
    margin: 0;
    font-size: 1.1rem;
    height: fit-content;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px !important;
    font-size: .7rem !important;

}


.tab {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.listHeader {
    background: var(--fabric-border-primary) !important;
    border-radius: 0 0 5px 5px;
    padding: 0 8px;
    font-weight: normal;
}
.tabs{
    display: grid;
    overflow: hidden;
}